/* navber */
.nav{
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    gap: 30px;
    
}
.menu h2{
    font-weight: 600;
    font-size: 20px;
    color: black;
}
.navSearch{
    display: flex;
    gap: 20px;
    border: 1px solid black;
    justify-content: center;
    justify-items: center;
    padding: 0px 10px;
    padding-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    
}
.navSearch h2{
    font-weight: 500;
    font-size: 18px;
}